---
import { getAllArticles } from 'src/lib/cms';
import { prettyDate } from 'src/utils/date';

// load props
export interface Props {
  category?: string;
  pagination?: boolean;
}

const { 
    category = "",
    pagination = false
 } = Astro.props as Props;

// import components
import Image from './Image.astro';

// load articles
let articles = await getAllArticles();

---
<div>
{articles.map(article => (
    <a href={`/articles/${article.slug}`} class="border-t py-8 border-white/20 block last:pb-0">
        <div class="flex gap-8 items-center">
            <Image width={150} height={150} gravity={"center"} responsive={false} id="d56330f2-41d4-484a-e488-8c2566378100" />

            <div class="">
                <h2 class="text-3xl mb-4 font-serif">{article.name}</h2>

                <p class="max-w-5xl"><span class="text-xl font-serif mr-2">{prettyDate(article.updatedAt)}</span><span class="text-gray-400">Balhfkoahfjksdbfjhksbfhj asijfbsjh b efjhsbfh sd Balhfkoahfjksdbfjhksbfhj asijfbsjh b efjhsbfh sd Balhfkoahfjksdbfjhksbfhj asijfbsjh b efjhsbfh sdbgf hjsdbgf jhsdbfjhs bjhdsbf jhsbfjh dsbfjhsb jdfbsdj bfjhsdbf j</span></p>
            </div>
        </div>
    </a>
))}
</div>