---
import { getAllArticles } from 'src/lib/cms';

// load props
export interface Props {
  category?: string;
  pagination?: boolean;
}

const { 
    category = "",
    pagination = false
 } = Astro.props as Props;

// import components
import Image from './Image.astro';

// load articles
let articles = await getAllArticles();

---
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {articles.map(article => (
        <a href={`/articles/${article.slug}`} class="group">
            <div class="border-2 border-purple-900/50 h-64 p-8 flex flex-col justify-between relative">
                <h2 class="text-2xl mb-4">{article.name}</h2>

                <p class="text-gray-400">{article.createdAt}</p>

                <div class="absolute top-0 left-0 -z-10 bg-black w-full h-full opacity-70 group-hover:opacity-80 transition-opacity"></div>

                <Image css="" id={article.media?.cloudflareImageId} width={600} height={350} alt="" />
            </div>
        </a>
    ))}
</div>

