---
// load props
export interface Props {
  category?: string;
  pagination?: boolean;
}

const { 
    category = "",
    pagination = false
 } = Astro.props as Props;

// import components
import { Image } from '@astrojs/image/components';

// load articles
let articles = await Astro.glob('../pages/articles/*.mdx');

// sort articles by date (newest first)
articles.sort((a, b) => (new Date(a.frontmatter.date) > new Date(b.frontmatter.date) ? -1 : 1));

// filter by category if category prop is set
if (category !== "") {
    articles = articles.filter(article => article.frontmatter.categories.includes(category))
}

// filter out unlisted articles
articles = articles.filter(article => !article.frontmatter.unlisted)
---
<div class="grid grid-cols-3 gap-4">
    {articles.map(article => (
        <a href={`/articles/${article.frontmatter.slug}`} class="group">
            <div class="border-2 border-purple-900/50 h-64 p-8 flex flex-col justify-between relative">
                <h2 class="text-2xl">{article.frontmatter.title}</h2>

                <p class="text-gray-400">{article.frontmatter.date}</p>

                <div class="absolute top-0 left-0 -z-10 bg-black w-full h-full opacity-70 group-hover:opacity-80 transition-opacity"></div>
            </div>
        </a>
    ))}
</div>

