---
import Image from "./Image.astro";

const links = [
    {
        name: 'Notes',
        url: '/notes'
    },
    {
        name: 'Archive',
        url: 'https://archive.simse.io',
        target: 'blank'
    },
    {
        name: 'Source',
        url: 'https://github.com/simse/simse.io',
        target: 'blank'
    }
]
---

<footer class="mt-16 py-8 border-t dark:border-white/20">
    <Image id="e016d6ff-aad5-4173-2770-8411ac77fd00" width={32} height={32} responsive={false} css="mb-4" />

    <ul class="flex">
        {links.map(link => (
            <li class="text-gray-400 hover:underline">
                <a class="mr-8 first:ml-0" href={link.url} target={link.target}>{link.name}</a>
            </li>
        ))}
    </ul>
</footer>