---
import Image from "./Image.astro";

const page = Astro.url.pathname;

const pages = [
    {
        name: 'Home',
        path: '/'
    },
    {
        name: 'Articles',
        path: '/articles'
    },
    {
        name: 'Projects',
        path: '/projects'
    }
];

const matchPath = (itemPath: string): boolean => {
    if (itemPath === "/") {
        return itemPath === page
    }

    return page.startsWith(itemPath)
}

const itemClass = (itemPath: string): string => {
    if (matchPath(itemPath)) {
        return "font-bold"
    }

    return ""
}
---

<nav class="flex justify-between py-2 bg-black pl-4 border-b border-white/20 items-center">
    <div class="flex items-center">
        <a href="/">
            <Image id="e016d6ff-aad5-4173-2770-8411ac77fd00" width={32} height={32} responsive={false} />
        </a>

        <div class="border-l border-white/20 ml-4 pl-4 hidden sm:block">
            <a href="/" class="hover:underline">simse.io</a>
        </div>
        
    </div>

    <div class="flex items-center">
        <ul class="p-0 m-0 flex">
            {pages.map(page => (
                <li><a class={`p-2 py-4 sm:p-4 sm:mx-2 hover:underline ${itemClass(page.path)}`} href={page.path}>{page.name}</a></li>
            ))}
        </ul>
    </div>
</nav>