---
import Timeline from "../common/Timeline.astro";
---
<div class="relative min-h-screen pl-4 md:pl-16 bg-green-950 text-green-100 pb-32">
    <Timeline timelineColor="stroke-green-800" markerColor="border-green-200" />

    <section class="py-6 text-lg">
        <strong>1969 — Precusor to The Internet</strong>

        <h1 class="my-4 text-5xl font-normal font-serif">The Creation of <code class="font-bold ml-1">ARPANET</code></h1>

        <p class="max-w-4xl pr-4 text-green-200">
            The U.S. Advanced Research Projects Agency Network (ARPANET) was the first public packet-switched computer network. Initially connecting four computers in UCLA, UCSB, Stanford and University of Utah, it  grew to connect 57 computers by 1974.
        </p>

        <img src="/us.svg" class="w-full md:w-3/5 mx-auto py-16" />

        <!--div class="flex justify-center w-full">
            <button class="py-3 px-8 border border-green-600 rounded-l-full text-green-950 bg-green-200">1969</button>
            <button class="py-3 px-8 border-y border-green-600">1974</button>
            <button class="py-3 px-8 border border-green-600 rounded-r-full">1989</button>
        </div-->
    </section>

    <section class="my-12 text-lg relative">
        <div class={`w-6 border-t bg-zinc-300 absolute -left-12 top-3 hidden md:block`}></div>

        <strong>1973 — ARPANET goes international</strong>

        <p class="max-w-4xl pr-4 text-green-200">
            NORSAR in Norway and UCL in the UK join ARPANET via satallite, making it the first international network.
        </p>

        <img src="/us.svg" class="w-full md:w-3/5 mx-auto py-16" />

        <!--div class="flex justify-center w-full">
            <button class="py-3 px-8 border border-green-600 rounded-l-full text-green-950 bg-green-200">1969</button>
            <button class="py-3 px-8 border-y border-green-600">1974</button>
            <button class="py-3 px-8 border border-green-600 rounded-r-full">1989</button>
        </div-->
    </section>

    <div class="my-12 text-lg relative">
        <div class={`w-6 border-t bg-zinc-300 absolute -left-12 top-3 hidden md:block`}></div>

        <strong>1983 — ARPANET switches to TCP/IP</strong>

        <p class="max-w-4xl pr-4 text-green-200">
            This allowed ARPANET to connect with networks such as ALOHANET and CSNET. This was the birth of the Internet.
        </p>
    </div>
</div>