---
import Timeline from "../common/Timeline.astro";
---
<style lang="scss">
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: rgba(18, 16, 16, 0.1);*/
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /*animation: flicker 0.15s infinite;*/
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
  animation-delay: 0.8s;

  @media (prefers-reduced-motion: reduce) {
    animation-play-state: stopped;
  }
}
</style>

<div class="relative min-h-screen pl-4 md:pl-16 bg-green-950 text-green-100 pb-32 crt">
    <Timeline timelineColor="stroke-green-800" markerColor="border-green-200" />

    <section class="py-6 text-lg">
        <strong>1969 — Precursor to The Internet</strong>

        <h1 class="my-4 text-5xl font-normal font-serif">The Creation of <code class="font-bold ml-1">ARPANET</code></h1>

        <p class="max-w-4xl pr-4 text-green-200">
            The U.S. Advanced Research Projects Agency Network (ARPANET) was the first public packet-switched computer network. Initially connecting four computers in UCLA, UCSB, Stanford and University of Utah, it  grew to connect 57 computers by 1974.
        </p>

        <img src="/arpanet_1969_map.svg" class="w-full xl:w-3/5 mx-auto py-16" />

        <!--div class="flex justify-center w-full">
            <button class="py-3 px-8 border border-green-600 rounded-l-full text-green-950 bg-green-200">1969</button>
            <button class="py-3 px-8 border-y border-green-600">1974</button>
            <button class="py-3 px-8 border border-green-600 rounded-r-full">1989</button>
        </div-->
    </section>

    <section class="my-12 text-lg relative">
        <div class={`w-6 border-t bg-zinc-300 absolute -left-12 top-3 hidden md:block`}></div>

        <strong>1973 — ARPANET goes international</strong>

        <p class="max-w-4xl pr-4 text-green-200">
            NORSAR in Norway and UCL in the UK join ARPANET via satallite, making it the first international network.
        </p>

        <img src="/us.svg" class="w-full md:w-3/5 mx-auto py-16" />

        <!--div class="flex justify-center w-full">
            <button class="py-3 px-8 border border-green-600 rounded-l-full text-green-950 bg-green-200">1969</button>
            <button class="py-3 px-8 border-y border-green-600">1974</button>
            <button class="py-3 px-8 border border-green-600 rounded-r-full">1989</button>
        </div-->
    </section>

    <div class="my-12 text-lg relative">
        <div class={`w-6 border-t bg-zinc-300 absolute -left-12 top-3 hidden md:block`}></div>

        <strong>1983 — ARPANET switches to TCP/IP</strong>

        <p class="max-w-4xl pr-4 text-green-200">
            This allowed ARPANET to connect with networks such as ALOHANET and CSNET. This was the birth of the Internet.
        </p>
    </div>
</div>