<div class="bg-orange-800 border border-orange-500 rounded-lg text-white px-5 py-4 hidden motion-reduce:block">
    <strong>This blog post contains animated elements.</strong>

    <p class="mb-0 mt-2">Or rather, it did, but because you've indicated you prefer reduced motion all animations are paused.</p>
</div>