.hero {
    display: flex;
    padding: 80px 50px;
    flex-direction: column;
    align-items: center;

    @media(max-width: 640px) {
        padding: 60px 20px;
    }
}

.title {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.5em;

    @media(max-width: 640px) {
        font-size: 2.2rem;
    }
}

.subtitle {
    font-weight: 400;
    opacity: 0.6;
    line-height: 1.5em;

    @media(max-width: 640px) {
        font-size: 1.2rem;
    }
}

.image {
    border-radius: 100%;
    background: #FFE0B7;
    padding: 15px;

    img {
        width: 130px;
    }
}