.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    //background: blue;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    background: rgba(12, 0, 30, 0.85);
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 16%;

    @media(max-width: 860px) {
        padding: 0 40px;
    }

    &.transparent {
        background: rgba(12, 0, 30, 0.01);
        backdrop-filter: blur(2px);
    }


    .logo {
        //margin: 0 auto;
        max-width: 130px;

        a {
            //padding: 0 !important;
            display: block;
        }

        img {
            margin: 0;
            margin-top: 6px;
        }
    }

    .menu  {
        margin-left: auto;

        button {
            border: 0;
            outline: 0;
            background: transparent;
            color: #fff;
            padding: 26px 0;
            font-family: Juana;

            &:hover {
                cursor: pointer;
            }

            svg {
                fill: #fff;
                vertical-align: middle;
                margin-right: 8px;
                margin-top: -3px;
            }
        }
    }
}

.breadcrumbs {
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 16%;
    z-index: 15;
    background: rgba(12, 0, 30, 0.85);
    backdrop-filter: blur(8px);
    display: flex;

    @media(max-width: 860px) {
        display: none;
    }

    &.hidden {
        display: none;
    }

    span {
        margin: 0 12px;
        opacity: 0.6;
    }

    a {
        opacity: 0.8;
        font-family: Juana;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 250ms opacity;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.overlay-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background: #0c001e;
    width: 100vw;
    height: 100vh;
    display: none;

    &.open {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.closed {
        display: none;
        visibility: hidden;
    }

    &.opening {
        animation: fadeIn 200ms ease-in-out 0s 1 forwards;
    }

    &.closing {
        animation: fadeOut 200ms ease-in-out 0s 1 forwards;
    }

    .close {
        position: fixed;
        top: 30px;
        right: 30px;

        button {
            background: transparent;
            border: 0;
            outline: 0;
            padding: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        svg {
            fill: #fff;
        }
    }

    .inner {
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 100vh;
        min-width: 60vw;

        @media(max-width: 960px) {
            min-width: 80vw;
        }

        @media(max-width: 650px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        h1 {
            font-family: Juana;
            font-weight: 200;
            font-size: 3.2rem;
            transition: ease-in-out 200ms opacity;
            opacity: 0.85;

            @media(max-width: 920px) {
                font-size: 2.6rem;
            }

            @media(max-width: 680px) {
                font-size: 2.2rem;
            }

            sup {
                opacity: 0.5;
                font-size: 1.2rem;
                vertical-align: top;
                margin-top: 26px;
                display: inline-block;
                font-family: Inter;
            }
        }

        a {
            padding: 10px 0;
            display: block;

            &:hover h1 {
                opacity: 1 !important;
            }
        }

        .items {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            padding: 250px 0;

            @media(max-width: 650px) {
                padding: 100px 0 0 0;
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            &:hover {
                h1 {
                    opacity: 0.6;
                }
            }
        }

        .sidebar {
            padding: 320px 0 250px 150px;

            @media(max-width: 1360px) {
                padding: 280px 0 100px 80px;
            }

            @media(max-width: 650px) {
                padding: 50px 0 0 0;
            }

            .contact {
                margin-bottom: 50px;
            }

            h2 {
                font-weight: 300;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }

            span.email {
                font-family: Juana;
                opacity: .8;
            }

            .links {
                display: grid;
                max-width: 250px;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;

                a {
                    text-decoration: underline;
                    padding-bottom: 5px;
                }
            }
        }
    }
}