---

---

<section class="my-16 px-3">
  <a href="/about">
    <h2 class="text-lg mb-2 font-bold">About Me</h2>
  </a>

  <div class="prose dark:prose-invert">
    <p>
      I am currently a software engineer at The LEGO Group.
    </p>

    <p>
      I was born in Denmark, have lived in China, and I currently live in London.
    </p>
  </div>
</section>
