---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { sanityClient } from "sanity:client";
import { formatDateWithYear } from "@utils/date";

interface Post {
  image: {
    asset: {
      url: string;
    };
  };
  title: string;
  slug: {
    current: string;
  };
  published: string;
  content: any;
}

const posts = await sanityClient.fetch<Post[]>(`*[_type == "post" && defined(slug)] | order(publishedAt desc)`);
---

<section class="my-8">
  <a href="/blog">
    <h2 class="text-xl mb-2">Blog Posts</h2>
  </a>
  
  <ul class="">
    {posts.map((post) => (
        <li>
            <a
                class="py-2 grid grid-cols-10 items-center border-b border-black/20 hover:bg-black/5 transition-colors"
                href={`/${post.slug.current}`}
            >
              <span class="col-span-8 md:col-span-6">
                  <span class="text-zinc-400 text-sm md:hidden">{formatDateWithYear(new Date(post.published))} <br/></span>

                  {post.title}
              </span>
              <span class="hidden md:block md:col-span-2 text-black/60">
                  {formatDateWithYear(new Date(post.published))}
              </span>
              <button
                  class="col-span-2 justify-self-end py-1 flex items-center w-fit"
              >
                  Read <Icon name="tabler:arrow-narrow-right" class="" size={20} />
              </button>
          </a>    
      </li>
    ))}
</ul>
</section>
