---
import type { ImageMetadata } from "astro";
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";

import { formatDateWithYear } from "@utils/date";

interface Props {
    image?: ImageMetadata;
    imageAlt?: string;
    post: CollectionEntry<'blog'>;
}

const { image, imageAlt, post } = Astro.props;
---
<a href={`/${post.slug}`} class="block hover:-translate-y-1 transition-transform">
    <article class="bg-zinc-800 rounded-lg w-full min-h-32">
        {image && <div class="rounded-t-lg overflow-clip h-32 w-full">
            <Picture 
                src={image} 
                alt={imageAlt || ""}
                class="object-center object-cover w-full h-full"
                formats={["webp", "avif"]}
                loading="eager"
            />
        </div>}

        <div class="p-3">
            <span class="text-zinc-300 text-sm mb-2">{formatDateWithYear(post.data.published)}</span>
            <h3>{post.data.title}</h3>
        </div>
    </article>
</a>