---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import me from "@assets/me_18.jpg";
---
<script lang="ts">
    const event = new Event("mood_music");

    window.onload = () => {
        const moodMusicTrigger = document.getElementById("mood_music_trigger");

        moodMusicTrigger.addEventListener("click", () => {
            document.dispatchEvent(event);
        });
    };
</script>

<header class="py-8 px-4 max-w-6xl mx-auto">
    <div class="flex items-center gap-6">
        <Picture
            class="max-w-24 rounded-full"
            src={me}
            alt="Simon in front of a beautiful sunset"
            width={160}
            height={160}
            densities={[1, 2, 3]}
            loading="eager"
            formats={["auto", "webp"]}
            quality={"high"}
        />

        <h1 class="text-xl md:text-2xl text-zinc-300">
        <span class="text-zinc-50 font-medium">Hi! I'm Simon</span> — a Software Engineer<br class="hidden sm:block"
        /> based in London
        </h1>
    </div>

    {/*<button 
        class="mt-6 bg-blue-600 hover:bg-blue-700 transition-colors rounded-full px-3 py-1 flex gap-1 items-center" 
        id="mood_music_trigger"
    >
        Mood Music™
        <Icon name="tabler:player-play-filled" />
    </button>*/}
</header>
