---
// import ParticleHeader from '@components/preact/ParticleHeader';
import { Picture } from "astro:assets";

import me from "@assets/me_18.jpg";
---

<header class="py-8 px-4 max-w-6xl mx-auto">
    <div class="flex items-center gap-6">
        <Picture
            class="max-w-24 rounded-full"
            src={me}
            alt="Simon in front of a beautiful sunset"
            width={160}
            height={160}
            densities={[1, 2, 3]}
            loading="eager"
            formats={["auto", "webp"]}
            quality={"high"}
        />

        <h1 class="text-xl md:text-2xl text-zinc-300">
        <span class="text-zinc-50 font-medium">Hi! I'm Simon</span> — a Software Engineer<br
        />based in London
        </h1>
    </div>

  
</header>
