---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import me from "@assets/me_18.jpg";
---


<header class="py-4">
    <h1 class="text-2xl mb-2">Hi—I'm Simon, a Software Engineer based in London.</h1>
    <p>This is my little slice of the internet, please make yourself at home.</p>
</header>
