---
import ParticleHeader from '@components/preact/ParticleHeader';
---
<header class="py-48 relative px-4 min-h-[600px]">
    <div class="w-screen absolute top-0">
        <ParticleHeader client:only="preact" />
    </div>

    <h1 class="
        text-xl md:text-2xl lg:text-3xl text-zinc-300 left-1/2 -translate-x-1/2 z-20 absolute text-center
    ">
        <span class="text-zinc-50 font-medium">Hi! I'm Simon</span> — a Software Engineer<br />based in London
    </h1>
</header>