---
import { Icon } from "astro-icon/components";
---

<section class="mb-8 max-w-6xl mx-auto px-4">
  <h2 class="font-bold mb-2 text-xl">Projects</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4"
  >
    <article>
<img
          class="rounded-lg"
          src="https://assets.simse.io/xiaomi_tv_picture-800x600.avif"
          alt=""
        />
        <h3 class="font-bold mt-2 mb-1">pymitv</h3>
        <span class="text-zinc-300"
          >Python library used to control 3rd gen Xiaomi TVs</span
        >

    </article><article>
      <img
          class="rounded-lg"
          src="https://assets.simse.io/Screenshot 2023-12-23 at 19.49.13-800x600.png"
          alt=""
        />
        <h3 class="font-bold mt-2 mb-1">Quizical</h3>
        <span class=" text-zinc-300"
          >Quiz website powered by GPT-4 to generate quizzes</span
        >
    </article>
  </div>

  {/* <a class="text-zinc-400 flex items-center gap-1" href="/projects">
    See all projects
    <Icon name="tabler:arrow-right" size={20} />
  </a>*/}
</section>
