---
import { getProjects, type Project } from '@cms'
import ProjectCard from '../projects/ProjectCard.astro'

let projects = await getProjects();
projects = projects.sort((a: Project, b: Project) => {
  return a.published < b.published ? 1 : -1;
})
---

<section class="my-16 px-3">
  <a href="/projects">
    <h2 class="text-lg mb-2 font-bold">Projects</h2>
  </a>

  <ul class="grid grid-cols-3 gap-4">
    {
      projects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</section>
