.hero {
    padding: 50px 0;
    text-align: center;

    .title,
    .subtitle {
        font-family: "Inter";
        font-weight: 400;
    }

    .title {
        font-size: 4rem;
        margin: 0;

        @media(max-width: 500px) {
            font-size: 3rem;
        }
    }

    .subtitle {
        opacity: .7;
        margin: 20px 10px 0 10px;
    }
}