---
---
<a id="music" class="hover:cursor-pointer">
    <slot />
</a>


<script lang="js">
    (async function() {
        const selectMusic = () => {
            const variation = Math.floor(Math.random() * (6 - 2 + 1) + 2);

            if (Math.random() > 0.5) {
                return `https://sweet-ass-music.simse.io/540_loop${variation}_space-invaders_0017.mp3`;
            } else {
                return `https://sweet-ass-music.simse.io/594_loop${variation}_fast-to-past_0023.mp3`;
            }
        }

        const AudioContext = window.AudioContext || window.webkitAudioContext;
        const audioCtx = new AudioContext();

        let hasStarted = false;
        let playing = false;

        const button = document.getElementById('music');
        const playingHTML = document.getElementById('playing');
        const stoppedHTML = document.getElementById('stopped');
        const loadingHTML = document.getElementById('loading');
        
        button.onclick = async () => {
            if (hasStarted) {
                if (playing) {
                    audioCtx.suspend();
                    playing = false;
                } else {
                    audioCtx.resume();
                    playing = true;
                }
            } else {
                stoppedHTML.classList.add('hidden');
                loadingHTML.classList.remove('hidden');

                const source = audioCtx.createBufferSource();
                const arrayBuffer = await fetch(
                    selectMusic(),
                ).then((res) => res.arrayBuffer());

                const audioBuffer = await audioCtx.decodeAudioData(arrayBuffer);

                source.buffer = audioBuffer;
                source.loop = true;
                source.connect(audioCtx.destination);

                source.start();
                hasStarted = true;
                playing = true;

                loadingHTML.classList.add('hidden');
            }

            if (playing) {
                playingHTML.classList.remove('hidden');
                stoppedHTML.classList.add('hidden');
            } else {
                playingHTML.classList.add('hidden');
                stoppedHTML.classList.remove('hidden');
            }
        }
    })();
</script>