---
import { Image } from '@astrojs/image/components';
import wink from '../images/wink.png';

import GreetByTime from '@components/GreetByTime.svelte';
---

<div class="py-32 border-b flex items-center">
    <div class="mr-8">
        <Image src={wink} width={112} aspectRatio={1} format="webp" quality={100} alt="Winking memoji loosely resembling Simon" />
    </div>

    <div>
        <h1 class="text-3xl mb-4"><GreetByTime client:load /> 👋</h1>
        <p class="text-xl">Welcome to my slice of the internet.</p>
    </div>
</div>