---
import Timeline from "../common/Timeline.astro";
import DeroExperience from "./DeroExperience.svelte";
---
<div class="relative min-h-screen px-4 md:pl-16 bg-[#000521] border-t border-zinc-800">
    <Timeline />

    <header class="font-bold  py-6 text-lg">
        2020s
    </header>

    Artificial Intelligence

    <DeroExperience client:visible />
</div>