---
import Timeline from "../common/Timeline.astro";
---
<div class="relative min-h-screen pl-16">
    <Timeline />

    <header class="font-bold  py-6 text-lg">
        2010s
    </header>

    Age of Mobile Computing
</div>