---
import { getCollection } from 'astro:content';
import Computer from '@components/computer';
import BaseLayout from '@layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const posts = await getCollection('blog');

export const prerender = true;

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout title="simonOS">
  <Computer blogPosts={posts} client:load transition:persist="computer">
    <div slot="blogPost">
      <Content />
    </div>
  </Computer>
</BaseLayout>