---
import { type CollectionEntry, getCollection } from 'astro:content'
import Navbar from '@components/Navbar.astro'
import YearList from '@components/blog/YearList.astro'
import Footer from '@components/common/Footer.astro'
import PageHeader from '@components/common/PageHeader.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { Icon } from 'astro-icon/components'

let posts = await getCollection('posts')

// group posts by year
let postsByYear: {
  [key: string]: CollectionEntry<'posts'>[]
} = {}

posts.forEach((post) => {
  const year = post.data.published.getFullYear().toString()
  if (!postsByYear[year]) {
    postsByYear[year] = []
  }
  postsByYear[year].push(post)
})
---

<BaseLayout title="Blog">
  <Navbar activeItem="Blog" />

  <main class="px-2 py-8 max-w-4xl mx-auto">
    <PageHeader
      title="Blog"
      subtitle="My corner of The Internet where I write sometimes,<br />but honestly not that often."
    />

    {
      Object.keys(postsByYear)
        .sort()
        .reverse()
        .map((year) => <YearList year={year} posts={postsByYear[year]} />)
    }

    <a class="flex items-center gap-2 my-12 bg-amber-600 w-fit text-black py-2 px-4 rounded" href="/rss.xml" target="_blank">
      <Icon name="tabler:rss" size={18} />
      RSS feed
    </a>
  </main>

  <Footer />
</BaseLayout>
