---
import Timeline from "../common/Timeline.astro";
---
<div class="relative min-h-screen pl-16 border-t border-zinc-800 bg-blue-950 text-blue-200">
    <Timeline timelineColor="stroke-blue-500/50" markerColor="border-blue-200" />

    <header class="py-6 text-lg">
        <strong>1990s</strong>

        <h1 class="my-4 text-7xl font-light font-serif">The Age of <br />Personal Computing</h1>

        <p class="max-w-4xl">
            Welcome to the 1990s, the dawn of personal computing. This era saw computers move from labs into our homes, becoming part of our daily lives. From the birth of the internet to the rise of software giants, this period revolutionized our world. Let's journey through this exciting time together.
        </p>
    </header>

    <h1 class="mt-32 mb-8 text-4xl text-center font-serif">What if you didn't have a computer or a phone?</h1>
    <p class="text-xl text-center">Yes, I know it sounds god awful... but stay with me for a second.</p>
</div>