{{ define "root" }}
<!doctype html>
<html>
    <head>
        <title>hey</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="preload" href="/static/fonts/Wotfard-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/static/fonts/Wotfard-Bold.woff2" as="font" type="font/woff2" crossorigin>
		<style>
			@font-face {
				font-family: "Wotfard";
				src: url('/static/fonts/Wotfard-Regular.woff2') format('woff2');
				font-weight: 400;
				font-display: swap;
			}

			@font-face {
				font-family: "Wotfard";
				src: url('/static/fonts/Wotfard-Bold.woff2') format('woff2');
				font-weight: 700;
				font-display: swap;
			}
		</style>
    </head>
    <body class="bg-black text-white">
        {{ template "content" . }}
        <script type="text/javascript" src="/static/live.js"></script>
    </body>
</html>
{{ end }}