.contact {
    text-align: center;
    padding-top: 204px;

    h1 {
        font-size: 5rem;
        font-family: Inter;

        @media(max-width: 920px) {
            font-size: 4rem;
        }

        @media(max-width: 720px) {
            font-size: 3rem;
        }

        @media(max-width: 500px) {
            font-size: 2.4rem;
        }

        @media(max-width: 400px) {
            font-size: 2rem;
        }

        a {
            color: #FF20CE;
        }
    }

    p {
        opacity: 0.7;
    }
}