.post {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 0;

    .logo {
        max-width: 180px;
        margin: 0 auto;
        display: block;
    }

    .title {
        font-size: 3rem;
        margin: 100px 70px 0 70px;
        color: #FF20CE;

        @media(max-width: 700px) {
            font-size: 2.4rem;
            margin: 70px 30px 0 30px;
        }
    }

    .tags {
        margin: 30px 70px 50px 70px;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0.6;
        
        @media(max-width: 700px) {
            margin: 30px 30px 50px 30px;
        }
    }

    .content {
        margin-top: 60px;

        a {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            transition: 300ms ease border-bottom;

            &:hover {
                border-bottom-color: rgba(255, 255, 255, 1);
            }
        }
    }

    p {
        padding: 0 70px;

        @media(max-width: 700px) {
            padding: 0 30px;
        }
    }
}