.page {
    padding: 0 50px;

    @media(max-width: 760px) {
        padding: 10px 15px;
    }

    .posts {
        padding: 50px 0;
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        grid-gap: 1%;

        @media(max-width: 1400px) {
            grid-template-columns: 32% 32% 32%;
        }

        @media(max-width: 1100px) {
            grid-template-columns: 49% 49%;
        }

        @media(max-width: 760px) {
            grid-template-columns: 100%;
            grid-gap: 0%;

            .blog-post-card {
                margin-bottom: 15px;
            }
        }
    }
}