.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;

    @media(max-width: 760px) {
        padding: 10px 15px;
    }

    .title {
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 10px;
        font-family: 'Sanomat Alt';

        @media(max-width: 720px) {
            font-size: 3rem;
        }
    }

    .subtitle {
        text-align: center;
        opacity: .6;
        font-size: 1.6rem;

        @media(max-width: 720px) {
            font-size: 1.2rem;
        }
    }

    .podcasts {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 1%;
        padding: 50px 0;

        @media(max-width: 720px) {
            grid-gap: 0%;
            grid-template-columns: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .podcast {
        //padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
        background: var(--podcast-bg-bg);
        margin-bottom: 15px;

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        h2 {
            margin: 0;
            font-weight: 900;
            font-family: "Sanomat Alt";
            font-size: 1.4em;
            padding: 25px;
            color: var(--text-color);
        }
    }
}