.episode {
    padding: 50px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.back {
    svg {
        height: 12px;
    }

    a {
        text-decoration: none;
        color: var(--link-color);
    }
}

.title {
    font-weight: 900;
    font-size: 4.5rem;
    margin-bottom: 0;
    margin-top: 20px;
    font-family: "Inter";

    @media(max-width: 720px) {
        font-size: 3rem;
    }
}

.podcastName {
    font-weight: 400;
    font-size: 1.6rem;
    opacity: .6;
    margin-bottom: 30px;
}

.podcastersTitle {
    font-weight: 400;
    margin-bottom: 15px;
}

.player {
    margin-bottom: 150px;

    audio {
        width: 100%;
        outline: 0;
    }
}

.podcasters {
    display: flex;

    .podcaster {
        text-align: center;
        margin-right: 25px;

        .podcasterImage {
            background: lighten(white, 5%);
            border-radius: 100%;
            padding: 16px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}