.projects {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.sectionTitle {
    font-family: 'Sanomat Alt';
    font-size: 1.6rem;
}

.projectSection {
    margin-bottom: 70px;
}

.row {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2%;

    @media(max-width: 960px) {
        grid-template-columns: 49% 49%;
    }

    @media(max-width: 660px) {
        grid-template-columns: 100%;
        grid-gap: 0%;
        grid-row-gap: 1%;
    }
}