---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
import PageTitle from '../components/PageTitle.astro';
---

<Layout title="Articles">
	<PageTitle>Articles</PageTitle>

	<div class="mt-8">
		<ArticleList pagination={true} />
	</div>
</Layout>

