---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
import PageTitle from '../components/PageTitle.astro';

const breadcrumbs = [
	{
		name: 'Articles',
        path: '/articles'
	}
]
---

<Layout title="Articles" breadcrumbs={breadcrumbs}>
	<div class="max-w-7xl mx-auto mt-8">
		<PageTitle>Articles</PageTitle>

		<ArticleList pagination={true} />
	</div>
</Layout>

