---
import Base from '../layouts/Base.astro';

import Image from '../components/Image.astro';
import AI from '@components/AI';
---
<Base title="Welcome">
	<div class="max-w-xl mx-auto min-h-[75vh] flex flex-col justify-center">
		<div class="flex gap-3 items-center mb-8">
			<img src="https://imagedelivery.net/momKfEj2XLFFfTO94YnvIg/e016d6ff-aad5-4173-2770-8411ac77fd00/format=auto,h=48,w=48,fit=cover,gravity=auto">

			<h2 class="font-bold text-lg">simse.io</h2>
		</div>
		

		<AI client:load />
	</div>
</Base>
