---
import Layout from '../layouts/Layout.astro';

// components
import BackgroundMusic from 'src/parts/BackgroundMusic.astro';
import Image from '@components/Image.astro';

// images
import PlayingIcon from '../icons/volume-2.svg';
import StoppedIcon from '../icons/volume-x.svg';
import HorizontalArticleList from '@components/HorizontalArticleList.astro';
---
<Layout title="Welcome" noSpacing={true} disableMaxWidth={true}>
	<div class="absolute -top-10 left-0 w-full h-full -z-50">
		<div class="h-1/4 xl:h-1/3 w-full bg-gradient-to-b from-purple-800/60 to-black"></div>

		<img class="absolute w-full pt-64" src="https://imagedelivery.net/momKfEj2XLFFfTO94YnvIg/2c97715a-d614-4386-5516-ece7cdf78100/format=auto" />
	</div>

	<div class="mx-auto mb-32 px-8 py-8 max-w-7xl min-h-screen">
		<img class="py-24 max-w-5xl mx-auto w-full" src="https://imagedelivery.net/momKfEj2XLFFfTO94YnvIg/1daf96e5-064f-4dfe-1cdf-92be66255e00/format=auto" />

		<!--h2 class="text-center w-full text-2xl font-bold text-purple-200 mb-4">Software Engineering Intern @ LEGO<br />CS Student @ Kingston University</h2>
		<p-- class="w-full text-center">See my CV right <a class="underline" href="https://simon-sorensen.com">here</a></p-->

		<BackgroundMusic>
			<div class="w-full flex" id="stopped">
				<img src={StoppedIcon} class="ml-auto" />
			</div>
	
			<div class="w-full flex hidden" id="playing">
				<img src={PlayingIcon} class="ml-auto" />
			</div>
	
			<div class="w-full flex hidden" id="loading">
				<p class="ml-auto">loading...</p>
			</div>
		</BackgroundMusic>
	</div>

	<div class="max-w-[2000px] mx-auto">
		<a href="#"><h3 class="font-bold mb-4 text-xl">About Me</h3></a>
	</div>

	<div class="max-w-[2000px] mx-auto">
		<a href="/articles"><h3 class="font-bold mb-4 text-xl">Articles</h3></a>
		<HorizontalArticleList />
	</div>
</Layout>
