---
import Layout from '@layouts/Layout.astro';
import PageTitle from '@components/PageTitle.astro';
import { getAllProjectsGroupByCategory } from 'src/lib/cms';
import Image from '@components/Image.astro';

import fontColorContrast from 'font-color-contrast';

const projectCategories = await getAllProjectsGroupByCategory();
---

<Layout title="Projects">
	<PageTitle>Projects</PageTitle>

	{Object.keys(projectCategories).map(category => (
		<div class="mb-8">
			<h2 class="text-lg font-bold pb-2 mt-2 mb-4 w-full border-b border-white/20">{category}</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
			{projectCategories[category].map(project => (
				<a href={`/project/${project.slug}`}>
					<div class="mb-4 md:mb-0">
						<Image image={project.media} />

						<h2 class="mt-2 font-bold text-xl">{project.name}</h2>
					</div>
				</a>
			))}
			</div>
		</div>
	))}
</Layout>

