.about {
    padding: 50px;
    max-width: 1400px;
    margin: 0 auto;

    h2 {
        font-weight: 400;
        margin-bottom: 5px;
    }

    @media(max-width: 640px) {
        padding: 50px 20px;
    }
}

.row {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;

    @media(max-width: 1200px) {
        grid-template-columns: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 80px;
        background: #101010;
        box-sizing: border-box;
        border-radius: 12px;
        //margin-bottom: 12px;


        @media(max-width: 1200px) {
            margin: 0 auto 50px auto;
            width: 50%;
        }

        @media(max-width: 800px) {
            margin: 0 auto 50px auto;
            width: 100%;
            padding: 40px;
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 10px;
            margin-top: 20px;
        }        

        p {
            font-size: 1.3rem;
            line-height: 1.5em;
            opacity: 0.7;
            margin-top: 0;
        }
    }
}