@font-face {
    font-family: Recoletta;
    font-weight: 900;
    src: url(../../static/fonts/RecoletaAlt-Black.woff2) format("woff2");
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(../../static/fonts/Inter.var.woff2) format("woff2");
  }