.footer {
  background: #0d0d0d;
  color: #fff;
  display: flex;

  .image {
    max-width: 500px;
  //max-height: 500px;

    img {
      //margin: 0;
    }
  }

  .links {
    padding: 80px;
    display: flex;

    .link-group {
      padding-right: 70px;
    }

    h3 {
      font-weight: 300;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    ul {
      list-style: none;
      margin: 0;

      a {
        color: #fff;
        opacity: .7;
      }
    }
  }
}
