@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: normal;
  src:
      local('SF Pro Display Regular'),
      url('../fonts/san-fran-regular.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 300;
  src:
      local('SF Pro Display Light'),
      url('../fonts/san-fran-thin.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 700;
  src:
      local('SF Pro Display Bold'),
      url('../fonts/san-fran-bold.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 900;
  src:
      local('SF Pro Display Black'),
      url('../fonts/san-fran-black.woff2');
}

body {
  font-family: 'San Fran',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.main {
  background: #000;
  color: #fff !important;
}

.blog {
  background: #fff;
  color: #111 !important;
}

a.btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 6px;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #1687ff;
  text-decoration: none;
  transition: all .15s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &.blue {
    color: #fff;
    background: #1687ff;
  }
}

.hover-image {
  transition: .2s all;


  &:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  }
}

h2.title {
  font-size: 3rem;

  @media(max-width: 1000px) {
    font-size: 1.6rem;
  }
}

.blog-posts {
  padding: 50px 10%;

  @media(max-width: 1000px) {
    padding: 50px 20px;
  }

  .post-inner {
    @media(max-width: 1000px) {
      flex-direction: column;
    }
  }

  .image {
    margin: auto 30px auto 0;

    @media(max-width: 1000px) {
      margin: 0 auto 25px auto;
      width: 150px;
    }
  }
}

.post-wrapper {
  @media(max-width: 1000px) {
    flex-direction: column;
  }
}
