@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/san-fran-regular.ttf');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/san-fran-thin.ttf');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/san-fran-bold.ttf');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/san-fran-black.ttf');
}

body {
  font-family: 'SF Pro Display';
  background: #000;
  color: #fff;
}
