@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/san-fran-regular.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/san-fran-thin.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/san-fran-bold.woff2');
}

@font-face {
  font-family: "San Fran";
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/san-fran-black.woff2');
}

body {
  font-family: 'SF Pro Display';
}

.main {
  background: #000;
  color: #fff !important;
}

.blog {
  background: #fff;
  color: #111 !important;
}

a.btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 6px;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #1687ff;
  text-decoration: none;
  transition: all .15s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &.blue {
    color: #fff;
    background: #1687ff;
  }
}

.hover-image {
  transition: .2s all;


  &:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  }
}
