.navbar {
    margin: 0 auto;
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;

    a {
        border-bottom: 0;
    }

    @media(max-width: 1100px) {
        padding: 50px 100px;
    }

    @media(max-width: 720px) {
        padding: 50px 30px;
    }
}

.menu-icon {
    width: 40px;
    height: 50px;
    z-index: 1001;
    margin-top: 13px;
    position: fixed;
    top: 50px;
    right: 160px;

    @media(max-width: 1700px) {
        position: absolute;
    }

    @media(max-width: 1100px) {
        right: 100px;
    }

    @media(max-width: 720px) {
        right: 30px;
    }
    
    &:hover {
        cursor: pointer;
    }

    &.active {
        span {
            background: #fff;
        }

        span:first-child {
            transform: rotate(45deg) translateY(10px) translateX(12px);
        }

        span:last-child {
            transform: rotate(-45deg) translateY(0px) translateX(1px);
        }
    }

    span {
        width: 40px;
        height: 3px;
        position: absolute;
        background: var(--menu-icon-color);
        transition: all .2s;
    }

    span:last-child {
        top: 18px;
    }
}

.overlay-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
    pointer-events: none;
    transition: .25s all;
    padding: 5% 0;
    color: #fff;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            text-align: center;
            padding: 20px 0;
        }

        a {
            color: #fff;
            border: 0;
            font-size: 3rem;
            padding: 15px;
            text-transform: uppercase;
            font-weight: 900;

            &:hover {
                color: transparent;
                -webkit-text-stroke: 1px #fff;
            }
        }
    }

    &.opened {
        background: rgba(0, 0, 0, 0.9);
        pointer-events: all;

        * {
            opacity: 1;
        }
    }

    * {
        opacity: 0;
    }
}

.logo {
    max-height: 50px;
    z-index: 1002;

    @media(max-width: 1200px) {
        max-height: 46px;
    }

    @media(prefers-color-scheme: dark) {
        filter: invert(100%);
    }
}