.navbar {
    margin: 0 auto;
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;

    .static {
        position: fixed;
    }

    .filler {
        height: 54px;
    }

    a {
        border-bottom: 0;
        z-index: 2000;
    }

    @media(max-width: 1100px) {
        padding: 50px 100px;
    }

    @media(max-width: 720px) {
        padding: 50px 30px;
    }
}

.menu-icon {
    width: 40px;
    height: 50px;
    z-index: 1001;
    margin-top: 13px;
    position: fixed;
    top: 50px;
    right: 160px;

    @media(max-width: 1700px) {
        position: absolute;
    }

    @media(max-width: 1100px) {
        right: 100px;
    }

    @media(max-width: 720px) {
        right: 30px;
    }
    
    &:hover {
        cursor: pointer;
    }

    &.active {
        position: fixed;

        span {
            background: #fff;
        }

        span:first-child {
            transform: rotate(45deg) translateY(10px) translateX(12px);
        }

        span:last-child {
            transform: rotate(-45deg) translateY(0px) translateX(1px);
        }
    }

    span {
        width: 40px;
        height: 3px;
        position: absolute;
        background: var(--menu-icon-color);
        transition: all .2s;
    }

    span:last-child {
        top: 18px;
    }
}

.overlay-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
    pointer-events: none;
    transition: .25s all;
    color: #fff;

    display: flex;
    justify-content: space-between;

    .contact {
        padding: 200px 20% 0 0;
        text-align: right;

        h2,
        h3 {
            font-family: 'Sanomat Alt';
        }

        h2 {
            margin-bottom: 30px;
            font-size: 2rem;
        }

        h3 {
            margin-bottom: 5px;
            font-size: 1.5rem;
        }

        a {
            font-size: 1.3rem;
        }

        @media(max-width: 940px) {
            display: none;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 140px 140px 20px 20%;

        li {
            //text-align: center;
            padding: 20px 0;
        }

        a {
            color: #fff;
            border: 0;
            font-size: 2.4rem;
            padding: 15px 15px 15px 0;
            font-family: 'Sanomat Alt';

            &.active {
                border-bottom: 1px solid rgba(0, 108, 240, 1);
                color: rgba(0, 108, 240, 1);

                &:hover {
                    border-bottom: 1px solid rgba(0, 108, 240, 1);
                }
            }

            &:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            }
        }
    }

    &.opened {
        background: rgba(0, 0, 0, 1);
        pointer-events: all;

        * {
            opacity: 1;
        }
    }

    * {
        opacity: 0;
    }
}

.logo {
    max-height: 50px;
    z-index: 1002;

    @media(max-width: 1200px) {
        max-height: 46px;
    }

    @media(prefers-color-scheme: dark) {
        filter: invert(100%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;

    &.active {
        background: rgba(0, 0, 0, 0.6);
    }
}