.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  background: url(../images/paint_bg_min.jpg), #000;
  background-size: cover, cover;
  background-position: center, center;

  h1 {
    font-size: 12rem;
    font-weight: 900;
    margin: 0;
    color: #fff;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

    @media(max-width: 1200px) {
      font-size: 7rem;
    }

    @media(max-width: 800px) {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin: 0px;
    margin-top: -25px;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-weight: 400;

    @media(max-width: 1200px) {
      font-size: 1.2rem;
    }

    @media(max-width: 800px) {
      font-size: 1.1rem;
      letter-spacing: .2rem;
      margin-top: 0;
    }
  }

  p {
    font-size: 2rem;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    @media(max-width: 1200px) {
      font-size: 1.35rem;
    }

    @media(max-width: 800px) {
      font-size: 1rem;
    }
  }

  span.lang {
    font-weight: bold;
    text-decoration: underline;
  }
}
