.navbar {
  display: flex;
  position: absolute;
  top: 0;
  padding: 24px 10%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;

  &.blog {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
  }

  &.white {
    background: #fff;
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;

    .logo,
    .links a {
      color: #000 !important;
    }

  }

  @media(max-width: 800px) {
    .links {
      margin: 0 auto;
    }

    .logo {
      display: none;
    }
  }

  .logo {
    font-size: 1.3rem;
    color: #fff;

    h3 {
      margin: 0;
    }
  }

  .links {
    margin-left: auto;
    font-size: 1.2rem;

    a {
      padding: 0 18px;
      color: #fff;
      text-decoration: none;

      &:active {
        color: #fff;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
