.projects {
  color: #fff;
  padding: 100px 0;

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  .project-card {
    transition: .25s ease;
    &:hover {
      transform: scale(1.03);

    }

    &:active {
      transform: scale(0.99);
    }
  }
}
