$border-radius: 8px;

.project-card {
    border-radius: $border-radius;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    width: 30%;
    margin-bottom: 35px;

    .project-inner {
        padding: 28px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-weight: 400;
        font-size: 1.7rem;
        margin: 0;
    }

    span {
        opacity: 0.5;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.5em;
        margin-bottom: 40px;
    }
}

.project-image {
    height: 120px;
    padding: 40px 0;
    background: darken(#fff, 10%);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: flex;
    align-content: center;
    justify-content: center;
}

.project-links {
    margin-top: auto;

    a {
        text-decoration: none;
        color: #fff;
        padding: 6px 12px;
        background: #1D52FF;
        border-radius: 28px;
        margin-right: 10px;

        svg {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }
}