.projects {
  color: #fff;
  padding: 100px 0;


  h2 {
    text-align: center;
    font-weight: 300;
  }

  .projects-wrapper {
    padding: 0 150px;
    overflow-x: hidden;
    max-width: 100%;

    @media(max-width: 1200px) {
      padding: 0 30px;
    }
  }

  .project-card {
    text-align: center;
    transition: .25s ease;
    padding: 50px;

    span.tag {
      background: linear-gradient(to right, #8e2de2, #4a00e0);
      border-radius: 8px;
      padding: 3px 7px;
    }

    img {
      max-height: 100px;
    }
  }
}
