////////////////////////////////////////////////////////////////////////
//                                                                    //
////////////////////////////////////////////////////////////////////////

/* Fonts */
@font-face {
    font-family: "Guardian Egyptian";
    font-display: swap;
    src: url("/assets/fonts/Guardian-Text-Egyp-Web-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Sanomat Alt";
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/SanomatAlt-Extrabold.woff2") format("woff2");
}

* {
    text-rendering: optimizeLegibility;
}

/* Color variables */
:root {
    --body-bg: #fff;
    --text-color: #000;

    --menu-icon-color: #000;

    --project-card-bg: #fff;

    --blog-card-bg: #fff;
    --blog-card-color: #111;

    --podcast-bg-bg: #fff;

    --footer-bg: #f5f5f5;

    @media (prefers-color-scheme: dark) {
        --body-bg: #000;
        --text-color: #fff;

        --menu-icon-color: #fff;

        --project-card-bg: #111;

        --blog-card-bg: #111;
        --blog-card-color: #fff;

        --podcast-bg-bg: #111;

        --footer-bg: #111;
    }
}

body {
    background: var(--body-bg);
    color: var(--text-color);
}

a.footnote-backref {
    display: none;
}

.footnotes {
    ol:before {
        content: 'References';
    }

    p {
        margin-left: 15px;
    }
}