////////////////////////////////////////////////////////////////////////
//                                                                    //
////////////////////////////////////////////////////////////////////////


a.footnote-backref {
    display: none;
}

.footnotes {
    ol:before {
        content: 'References';
    }

    p {
        margin-left: 15px;
    }
}