---
import type { Article } from "@simse/app-cms/src/payload-types";

export interface Props {
	article: Article
}
const { article } = Astro.props;

import Layout from "./Layout.astro";
import Image from "../components/Image.astro";
import "../styles/article.scss";
import "../styles/prism.css";
import { prettyDate } from "src/utils/date";

---
<Layout title={article?.name || ""} description={""}>
    <div class="mb-16 max-w-3xl mx-auto">
		<div class="">
			<h1 class="text-5xl mb-5 font-serif">{article?.name}</h1>
			<p class="text-md text-gray-600 dark:text-gray-300">
				{prettyDate(article?.updatedAt)} — 
			</p>
		</div>
	</div>

	<div class="article max-w-3xl prose prose-lg dark:prose-invert mx-auto">
		<slot />
	</div>
</Layout>