---
export interface Props {
	title: string;
	description?: string;
	noSpacing?: boolean;
	disableMaxWidth?: boolean;
}

const { title, description = "", noSpacing = false, disableMaxWidth = false } = Astro.props as Props

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Base from './Base.astro';
---

<Base title={title} description={description}>
		<Navbar  />

		<div class={`mx-auto ${disableMaxWidth ? '' : 'max-w-7xl px-8'}`}>
			<main class={`${noSpacing ? '': 'pt-16'}`}>
				<slot />
			</main>

			<div class={`${disableMaxWidth ? 'px-8' : ''}`}>
				<Footer />
			</div>
		</div>


</Base>