@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SF Pro Rounded";
    src: local("SF Pro Rounded"), url("../fonts/SF-Pro-Rounded-Regular.woff2") format("woff2");
}
