---
import EasterEgg from "@/components/EasterEgg.astro";
import Base from "@/layouts/base.astro";
---
<Base meta={{
    title: '404 - Not Found',
    description: '404 - Not Found'
}}>
    <main class="px-2 py-16 flex flex-col items-center">
        <h1 class="text-5xl mb-2 ">Bruh?</h1>

        <p>Nah not here. 404.</p>

        <EasterEgg easterEgg={4} />
    </main>
</Base>