---
import Base from "@/layouts/base.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---
<Base>
    <Navbar />

    <main class="py-32 max-w-7xl mx-auto">
        <h1 class="font-serif text-5xl ">Who the hell is this guy!!</h1>
    </main>

    <Footer />
</Base>
