---
import { type CollectionEntry, getCollection } from 'astro:content'
import Navbar from '@components/Navbar.astro'
import YearList from '@components/blog/YearList.astro'
import Button from '@components/common/Button.astro'
import Footer from '@components/common/Footer.astro'
import PageHeader from '@components/common/PageHeader.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

let posts = await getCollection('posts')

// group posts by year
let postsByYear: {
  [key: string]: CollectionEntry<'posts'>[]
} = {}

posts.forEach((post) => {
  const year = post.data.published.getFullYear().toString()
  if (!postsByYear[year]) {
    postsByYear[year] = []
  }
  postsByYear[year].push(post)
})
---

<BaseLayout 
  title="Blog"
  description="Simon Sorensen's blog where he occasionally writes about technology, programming and software engineering."
>
  <Navbar activeItem="Blog" />

  <main class="px-2 py-8 max-w-5xl mx-auto">
    <PageHeader
      title="Blog"
      subtitle="My corner of The Internet where I write sometimes,<br />but honestly not that often."
    />

    {
      Object.keys(postsByYear)
        .sort()
        .reverse()
        .map((year) => <YearList year={year} posts={postsByYear[year]} />)
    }

    <Button href="/rss.xml" icon="tabler:rss" target="_blank" shortcut="r" style="amber">RSS feed</Button>
  </main>

  <Footer />
</BaseLayout>
