---
import ContainerLayout from "@/layouts/container.astro";

const credits = {
    
}
---
<ContainerLayout meta={{
    title: "Credits",
    description: "Credits for the homepage experience",
    noIndex: true
}}>
    <h1>Credits</h1>

    <h2>Homepage Experience</h2>

    <ul>
        <li></li>
    </ul>
</ContainerLayout>