---
import ContainerLayout from "@/layouts/container.astro";

const credits = {
    
}
---
<ContainerLayout>
    <h1>Credits</h1>

    <h2>Homepage Experience</h2>

    <ul>
        <li></li>
    </ul>
</ContainerLayout>