---
import Base from "@/layouts/base.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

// sections
import Hero from "@/components/homepage/hero/Hero.astro";
import WritingSection from "@/components/homepage/writing/WritingSection.astro";
import TelegraphSection from "@/components/homepage/telegraph/TelegraphSection.astro";
import EarlyInternetSection from "@/components/homepage/early-internet/EarlyInternetSection.astro";
import PortabilitySection from "@/components/homepage/portability/PortabilitySection.astro";
import PersonalComputingSection from "@/components/homepage/personal-computing/PersonalComputingSection.astro";
import InternetSection from "@/components/homepage/internet/InternetSection.astro";
import MobileComputingSection from "@/components/homepage/mobile-computing/MobileComputingSection.astro";
import MachineLearningSection from "@/components/homepage/machine-learning/MachineLearningSection.astro";
---

<Base>
	<Navbar floating={false} />

	<Hero />

	<p
		class="text-center my-8 text-zinc-300 text-lg animate-pulse motion-reduce:animate-none"
	>
		Scroll to learn about cool inventions
	</p>

	<!--div class="max-w-[1600px]  py-4 grid grid-cols-7 gap-4">
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>
		<div class="w-full aspect-w-5 aspect-h-4 bg-zinc-700"></div>

	</div-->

	<WritingSection />

	<TelegraphSection />

	<EarlyInternetSection />

	<PortabilitySection />

	<PersonalComputingSection />

	<InternetSection />

	<MobileComputingSection />

	<MachineLearningSection />

	<Footer />
</Base>
