---
import Navbar from '@components/Navbar.astro'
import Footer from '@components/common/Footer.astro'
import BlogSection from '@components/homepage/BlogSection.astro'
import Hero from '@components/homepage/Hero.astro'
import ProjectSection from '@components/homepage/ProjectSection.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="Simon Sorensen—Software Engineer in London">
  <Navbar activeItem="Home" />

  <Hero />

  <main class="max-w-4xl mx-auto">
    <BlogSection />
    <ProjectSection />
  </main>

  <Footer />
</BaseLayout>
