---
import Base from "@/layouts/base.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

// sections
import Hero from "@/components/homepage/hero/Hero.astro";
import WritingSection from "@/components/homepage/writing/WritingSection.astro";
import PortabilitySection from "@/components/homepage/portability/PortabilitySection";
---

<Base>
	<Navbar />

	<Hero />

	<p class="text-center my-8 text-zinc-300 text-lg animate-pulse motion-reduce:animate-none">Scroll to learn about amazing and important inventions...</p>

	<WritingSection />

	<PortabilitySection client:visible />

	<Footer />
</Base>