---
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import BlogSection from "@components/homepage/BlogSection.astro";
import ProjectSection from "@components/homepage/ProjectSection.astro";
import Hero from "@components/homepage/Hero.astro";
---

<BaseLayout title="Simon Sorensen—Software Engineer in London">
  <Navbar activeItem="Home" />

  <main class="max-w-2xl mx-auto px-2 pt-8">
    <Hero />

    <BlogSection />
    <ProjectSection />
  </main>
</BaseLayout>
