---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Icon from "astro-icon";
import ContainerLayout from "@/layouts/container.astro";
import Tag from "@/components/blog/Tag.astro";
import PageHeader from "@/components/PageHeader.astro";

const projects = await getCollection("projects");

// group by category
const categories = projects.reduce((acc: {
    [key: string]: CollectionEntry<'projects'>[];
}, project) => {
    if (!acc[project.data.category]) {
        acc[project.data.category] = [];
    }

    acc[project.data.category].push(project);

    return acc;
}, {});
---
<ContainerLayout>
    <PageHeader title="Projects" subtitle="Stuff I've created over the years" />

    {Object.keys(categories).map(cat => (
        <h2 class="font-bold text-xl">{cat}</h2>

        <div class="grid grid-cols-4 grid-rows-1 items-center mb-12 mt-2 w-full border-b border-zinc-700">
            {categories[cat].map(project => (
                <h3 class=" py-4 ">{project.data.title}</h3>

                <div class="py-4  flex gap-2 flex-wrap">
                    {project.data.techStack.map(tech => (
                        <Tag title={tech} />
                    ))}
                </div>
                <div class=" py-4 "></div>
                <div class="py-4">
                    <a href={project.data.sourceCode} target="_blank" class="flex gap-2 text-zinc-300 hover:text-blue-300"><Icon class="-mt-0.5" name="pixelarticons:code" width="16" /> Source Code</a>
                </div>
            ))}
        </div>
    ))}
</ContainerLayout>