---
import { Icon } from 'astro-icon';
import ContainerLayout from "@/layouts/container.astro";
---
<ContainerLayout>
    <Icon class="mb-2" name="pixelarticons:dashbaord" width="40" />

    <h1 class="text-4xl mb-4">Projects</h1>
    <p class="text-lg text-zinc-300">Stuff I've created over the years</p>
</ContainerLayout>