---
import { Picture } from "astro:assets";

import EasterEggOne from "@/assets/easter-eggs/easter_egg_one.png";
import EasterEggTwo from "@/assets/easter-eggs/easter_egg_two.png";
import EasterEggThree from "@/assets/easter-eggs/easter_egg_three.png";
import EasterEggFour from "@/assets/easter-eggs/easter_egg_four.png";
import RainbowText from "./utilities/RainbowText.astro";

const easterEggs = [
    {
        title: 'Kiss my ass!',
        image: EasterEggOne
    },
    {
        title: 'Simon is old',
        image: EasterEggTwo
    },
    {
        title: 'Sure, I can pose',
        image: EasterEggThree
    },
    {
        title: 'This is a normal size beer',
        image: EasterEggFour
    }
];

interface Props {
    easterEgg: 1 | 2 | 3 | 4;
}

const { easterEgg: easterEggIndex } = Astro.props;

const easterEgg = easterEggs[easterEggIndex - 1];
---
<!-- <style lang="scss">
.easter-egg {
    &:hover {
        //cursor: pointer;

        img {
            animation: slowRotate 50s linear;
        }
    }

    img {
        //transition: transform .8s ease-in-out;
        transform-style: preserve-3d;
    }
}

@keyframes slowRotate {
    0% {
        transform: rotateY(360deg);
    }

    10% {
        transform: rotateY(720deg);
    }

    20% {
        transform: rotateY(1080deg);
    }

    30% {
        transform: rotateY(1440deg);
    }

    40% {
        transform: rotateY(1800deg);
    }

    50% {
        transform: rotateY(2160deg);
    }

    60% {
        transform: rotateY(2520deg);
    }

    70% {
        transform: rotateY(2880deg);
    }

    80% {
        transform: rotateY(3240deg);
    }

    90% {
        transform: rotateY(3600deg);
    }

    100% {
        transform: rotateY(3960deg);
    }
}
</style>

<div class="p-8 flex gap-2 items-center w-fit pr-24 easter-egg">
    <Picture src={easterEgg.image} formats={["avif", "webp"]} height={200} width={200} alt="" />

    <div>
        <strong><RainbowText text={"YOU'VE FOUND AN EASTER EGG!"} active="always" speed={2} /></strong>

        <p class="text-3xl font-serif mt-3">{easterEgg.title}</p>
    </div>
</div>
 -->