---
import { Icon } from 'astro-icon';
import RainbowText from './utilities/RainbowText.astro';

const buildDate = new Date().toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
});
---
<footer class="bg-zinc-900 p-4 flex justify-between items-center text-sm">
    <div class="flex items-center">
        <Icon class="mr-2" name="pixelarticons:mood-happy" width="26" />
        
        <p>Designed and built with love in <strong class=""><RainbowText text="London" speed={2} /></strong></p>
    </div>

    <p class="text-zinc-200">This site was statically generated on {buildDate} with <a href="https://astro.build" target="_blank"><strong>Astro 3.3</strong></a></p>
</footer>

