---
import { Icon } from 'astro-icon';
import RainbowText from './utilities/RainbowText.astro';

const items = [
    {
        name: 'Home',
        url: '/',
        icon: 'pixelarticons:home'
    },
    /*{
        name: 'About',
        url: '/about/',
        icon: 'pixelarticons:downasaur'
    },*/
    {
        name: 'Posts',
        url: '/posts/',
        icon: 'pixelarticons:article-multiple'
    },
    {
        name: 'Projects',
        url: '/projects/',
        icon: 'pixelarticons:dashbaord'
    }
]
---
<div class="px-4 max-w-7xl mx-auto flex py-4">
    <a href="/" class="font-bold"><RainbowText text="Simon Sorensen" /></a>

    <ul class="ml-auto flex flex-wrap justify-end gap-3 md:gap-6">
        {items.map(item => (
            <li><a class="flex gap-1 hover:text-blue-300 transition-colors" href={item.url}><Icon name={item.icon} width="20" /> {item.name}</a></li>
        ))}
    </ul>
</div>