---
import { Icon } from 'astro-icon';
---
<div class="max-w-7xl mx-auto flex p-4 px-8">
    <strong>Simon Sorensen</strong>

    <ul class="ml-auto flex gap-5">
        <li><a class="flex gap-1 hover:text-blue-300 transition-colors" href="/"><Icon name="pixelarticons:home" width="20" /> Home</a></li>
        <li><a class="flex gap-1 hover:text-blue-300 transition-colors" href="/posts"><Icon name="pixelarticons:article-multiple" width="20" /> Posts</a></li>
    </ul>
</div>