---
import NavbarInner from "./NavbarInner.astro";
---
<style lang="scss">
nav#navbar {
    width: 100%;
    border-color: transparent;
    transition-duration: 0.5s !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    border-radius: 100px;
    opacity: 0;
    width: 700px;
    transform: translateY(-100%);

    strong, a {
        opacity: .3;
        transition: opacity .2s ease-in-out;
    }

    &.scrolled {
        
        opacity: 1;
        
        // top: 16px;
        border-color: rgb(63 63 70);
        

        &.focus,
        &:hover {
            filter: drop-shadow(5px 5px 50px #000);
        }

        &.focus {
            transform: translateY(20%);
        }
    }

    &.focus,
    &:hover {
        strong, a {
            opacity: 1;
        }
    }
}
</style>

<nav id="navbar" class="md:sticky top-0 z-10 mx-auto bg-zinc-950/80 border backdrop-blur-sm focus hidden lg:block">
    <NavbarInner />
</nav>

<nav class="absolute top-0 z-20 w-full bg-zinc-950/80">
    <NavbarInner />
</nav>

<script lang="js">
let previousScrollPosition = 0;
let lastKnownScrollPosition = 0;
let ticking = false;
let navbar = document.getElementById("navbar");

function doSomething(scrollPos) {
    if (scrollPos > 200) {
        navbar.classList.add("scrolled");
    } else {
        navbar.classList.remove("scrolled");
    }

    //  scrolling down                        not scrolling too fast
    //  V                                     V
    if (scrollPos > previousScrollPosition || Math.abs(scrollPos - previousScrollPosition) > 150) {
        navbar.classList.remove("focus");
    } else {
        navbar.classList.add("focus");
    }

    previousScrollPosition = scrollPos;
}

document.addEventListener("scroll", (event) => {
  lastKnownScrollPosition = window.scrollY;

  if (!ticking) {
    window.requestAnimationFrame(() => {
      doSomething(lastKnownScrollPosition);
      ticking = false;
    });

    ticking = true;
  }
});
</script>