---
interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;
---
<header class="py-16 md:py-32 flex flex-col text-center">
    <h1 class="text-4xl md:text-6xl font-serif mb-4">{title}</h1>
    {subtitle ? <span class="text-zinc-300 text-lg">{subtitle}</span> : null}
</header>