---
---
<div class="min-h-[100vh] bg-[#1A1C19] p-8">
    <div class="text-lg text-zinc-300 mb-2">
        <p>3200 B.C.</p>
    </div>

    <h1 class="uppercase text-9xl font-[NewYork] text-[#BA855E]">The Dawn of Communication</h1>
</div>