---
import Timeline from "../common/Timeline.astro";
import Slider from "./Slider.svelte";

import firstImage from '@/assets/homepage/writing/one.jpg';
import secondImage from '@/assets/homepage/writing/two.jpg';
import thirdImage from '@/assets/homepage/writing/three.jpg';

const slides = [
    {
        image: firstImage,
        imageAlt: '',
        imageTitle: 'ANCIENT SUMER',
        text: 'The Dawn of Cuneiform',
        description: 'The Sumerians invented cuneiform writing around 3200 BC, a system using wedge-shaped marks on clay tablets. Initially pictographic, it evolved into a complex system representing objects and abstract concepts, marking a pivotal moment in human history by enabling idea transmission across generations.'
    },
    {
        image: secondImage,
        imageAlt: '',
        imageTitle: 'Merchant on Tigris River',
        text: 'test'
    },
    {
        image: thirdImage,
        imageAlt: '',
        imageTitle: 'WRITING WORKSHOP',
        text: 'Only elite scribes could master cuneiform writing',
    }
]
---
<div class="min-h-[100vh] h-full p-7 md:pl-16 relative overflow-clip">
   <Timeline timelineTop="top-10" />

    <!-- background -->
    <div class="absolute top-0 left-0 w-full h-full -z-50 bg-[#1A1C19]">
        <img src="/world_bg.svg" class="object-cover w-full h-full -z-10 opacity-50" />
    </div>
    
    <!-- header -->
    <header class="mb-32">
        <div class="text-xl text-zinc-300 mb-2">
            <p>3200 B.C.</p>
        </div>
    
        <h1 class="uppercase text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-[NewYork] text-[#BA855E] mb-8">The Dawn of Communication</h1>

        <p class="max-w-5xl text-xl lg:text-2xl xl:text-3xl opacity-75">
            This period marks the birth of written communication, with the invention of writing in ancient Sumer. This breakthrough allowed humans to record information and share it across time and space.
        </p>
    </header>

    <Slider slides={slides} client:load />
</div>