---
import { getImage } from "astro:assets";
import type { ImageMetadata } from "astro";
import Timeline from "../common/Timeline.astro";
import Slider from "./Slider.svelte";

import firstImage from '@/assets/homepage/writing/one.png';
import secondImage from '@/assets/homepage/writing/two.jpg';
import thirdImage from '@/assets/homepage/writing/three.jpg';
import fourthImage from '@/assets/homepage/writing/ancient_sumer_library.png';

const transformImage = (image: ImageMetadata) => {
    return getImage({
        src: image,
        width: 800,
        height: 800,
        format: 'avif'
    })
}

const slides = [
    {
        image: await transformImage(firstImage),
        imageAlt: '',
        imageTitle: 'ANCIENT SUMER',
        text: 'The Dawn of Cuneiform Brought a Communication Revolution',
        description: 'The Sumerians invented cuneiform writing around 3200 BC, a system using wedge-shaped marks on clay tablets. Initially pictographic, it evolved into a complex system representing objects and abstract concepts, marking a pivotal moment in human history by enabling idea transmission across generations.'
    },
    {
        image: await transformImage(secondImage),
        imageAlt: '',
        imageTitle: 'Merchant on Tigris River',
        text: 'Sumerian Writing Transformed from Pictures to Sounds',
        description: 'Sumerian writing evolved from pictograms to phonograms over hundreds of years. This transition from using symbols to represent objects to using them for sounds allowed for more complex communication.'
    },
    {
        image: await transformImage(thirdImage),
        imageAlt: '',
        imageTitle: 'WRITING WORKSHOP',
        text: 'Only Elite Scribes Mastered the Art of Cuneiform Writing',
        description: 'In ancient Sumer, scribes were the educated elite. They underwent rigorous training to master cuneiform script, playing a vital role in administrative tasks, legal documentation, and literature creation.'
    },
    {
        image: await transformImage(fourthImage),
        imageAlt: '',
        imageTitle: '',
        text: 'Ancient Sumer Housed the First Libraries, the Temples of Knowledge',
        description: 'The invention of writing led to the creation of the earliest known libraries in Sumer. These libraries, often located within temples, housed a variety of texts on clay tablets.'
    },
    {
        image: await transformImage(firstImage),
        imageAlt: '',
        imageTitle: 'Merchant on Tigris River',
        text: 'The Legacy of Cuneiform, a Writing System that Shaped the Ancient World',
        description: 'Cuneiform was adopted and adapted by several neighboring cultures, including the Akkadians, Babylonians, Assyrians, and Persians. Despite falling out of use, it influenced the alphabetic systems of many modern languages.'
    },
]
---
<div class="min-h-[100vh] h-full p-7 md:pl-16 relative overflow-clip">
   <Timeline timelineTop="top-10" />

    <!-- background -->
    <div class="absolute top-0 left-0 w-full h-full -z-50 bg-[#1A1C19]">
        <img src="/world_bg.svg" class="object-cover w-full h-full -z-10 opacity-50" />
    </div>
    
    <!-- header -->
    <header class="mb-32">
        <div class="text-xl text-zinc-300 mb-2">
            <p>3200 B.C.</p>
        </div>
    
        <h1 class="uppercase text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-[NewYork] text-[#BA855E] mb-8">The Dawn of Communication</h1>

        <p class="max-w-5xl text-xl lg:text-2xl xl:text-3xl opacity-75">
            This period marks the birth of written communication, with the invention of writing in ancient Sumer. This breakthrough allowed humans to record information and share it across time and space.
        </p>
    </header>

    <Slider slides={slides} client:visible />
</div>