---
import Timeline from "../common/Timeline.astro";
---

<div class="min-h-screen relative pl-16">
    <Timeline />

    <!-- content -->
    <header class="py-7">
        <p class="text-lg font-bold">1440</p>
    </header>

	invention of the printing press
</div>