---
import Timeline from "../common/Timeline.astro";
---

<div class="min-h-screen relative">
    <Timeline />

    <!-- content -->
    <div class="py-6 pl-16">
        <p class="text-lg">1440-1700</p>
    </div>
</div>