---
import type { Post } from '../../cms'
import { formatDate, formatDateWithYear } from '../../utils/date'
import { getImageBuilder } from '../../cms'

interface Props {
  post: Post
  dateWithYear?: boolean
}

const { post, dateWithYear = false } = Astro.props
---

<a
  class="relative aspect-[3/2] w-full flex items-end transform-gpu transition-transform duration-300 hover:scale-105"
  href={`/${post.slug}`}
>
  {
    post.image && (
      <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent rounded mb-2 z-10 h-full" />
    )
  }
  <div
    class="aspect-[3/2] w-full h-full object-cover bg-zinc-900 rounded mb-2 absolute top-0 z-0 overflow-clip"
  >
    {
      post.image && (
        <img
          class="w-full h-full"
          src={getImageBuilder(post.image).width(600).height(400).url()}
          alt={post.image.alt}
        />
      )
    }
  </div>

  <div class="z-20 absolute p-4">
    <span class="text-lg">
      {post.title}
    </span>
    <span class="block text-black/70 dark:text-white/70">
      {
        dateWithYear
          ? formatDateWithYear(post.published)
          : formatDate(post.published)
      }
    </span>
  </div>
</a>
