---
import type { Post } from '@lib/cms/posts'
import BlogCard from './BlogCard.astro'

interface Props {
  year: string
  posts: Post[]
}

const { year, posts } = Astro.props

posts.sort((a: Post, b: Post) => {
  return +new Date(b.published) - +new Date(a.published)
})
---

<section class="my-2 pb-2 mb-8">
  <h2 class="text-xl text-white/70 mb-4">{year}</h2>

  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      posts.map((post) => (
        <li>
          <BlogCard post={post} />
        </li>
      ))
    }
  </ul>
</section>
