---
import type { CollectionEntry } from "astro:content";
import { Icon } from 'astro-icon/components';

interface Props {
    year: string;
    posts: CollectionEntry<'blog'>[];
}

const { year, posts } = Astro.props;

const formatDate = (date: Date) => {
    return date.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });
};
---
<section class="my-2 pb-2 border-t border-zinc-500 grid grid-cols-1 md:grid-cols-12 mb-12">
    <span class="text-xl text-zinc-300 col-span-3 mt-3">{year}</span>

    <ul class="col-span-9">
        {posts.map((post) => (
            <li>
                <a
                    class="py-4 md:px-2 grid grid-cols-10 items-center border-b border-zinc-700 hover:bg-zinc-900"
                    href={`/${post.slug}`}
                >
                    <span class="col-span-6">
                        {post.data.title}
                    </span>
                    <span class="col-span-3 text-zinc-400">
                        {formatDate(post.data.published)}
                    </span>
                    <button
                        class="bg-blue-700 px-1 py-0.5 sm:px-3 sm:py-1 border border-blue-600 rounded-full"
                    >
                        Read →
                    </button>
                </a>    
            </li>
        ))}
    </ul>
</section>