---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const citiesOnFilm = await getCollection("cities-on-film");

  return citiesOnFilm.map((entry) => ({
    params: { city: entry.slug },
    props: { entry },
  }));
}

import BaseLayout from "@/layouts/base.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";


interface Props {
    entry: CollectionEntry<'cities-on-film'>
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---
<style lang="scss" is:inline>
    img {
        margin-bottom: 6rem;
        background: #222;
    }
</style>

<BaseLayout>
    <Navbar floating={false} />

    <header class="max-w-7xl mx-auto pt-64 pb-24">
        <h2 class="font-serif font-light text-6xl leading-[1.4] mb-8">{entry.data.title}</h2>

        <p class="text-2xl max-w-4xl text-zinc-300 mb-24">
            {entry.data.description}
        </p>

        <div class="grid grid-cols-4 gap-2">
            <div>
                <strong>Camera</strong>

                <p>Olympus OM-10</p>
            </div>

            <div>
                <strong>Lens</strong>

                <p>Zuiko 5-30mm</p>
            </div>

            <div>
                <strong>35mm film</strong>

                <p>Kodak UltraMax 400</p>
            </div>

            <div>
                <strong>Last Updated</strong>

                <p>21/09/2023</p>
            </div>
        </div>
    </header>

   <main class="mb-16 max-w-[2000px] mx-auto">
        <Content />
   </main>

   <Footer />
</BaseLayout>