---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import PageHeader from "@/components/PageHeader.astro";
import ContainerLayout from "@/layouts/container.astro";

const cities = await getCollection('cities-on-film');
---
<ContainerLayout meta={{
    title: 'Cities on Film by Simon Sorensen',
    description: 'Lots of pictures of cities taken on film which gives a nice warm, nostalgic feeling. Most pictures are taken in London.',
}}>
    <PageHeader title="Cities on Film" subtitle="A collection of continously updated film photography collections." />

    <section class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8">
        {cities.map(city => (
            <a href={`/cities-on-film/${city.slug}`}>
                <article>
                    <Image class="mb-8" src={city.data.cover} width={800} alt={''} />

                    <h2 class="font-light font-serif text-3xl mb-2">{city.data.title}</h2>

                    <p class="text-zinc-300">
                        {city.data.seo?.description}
                    </p>
                </article>
            </a>
        ))}
    </section>
</ContainerLayout>