---
---
<footer class="p-4 border-t border-zinc-700">
    <p class="text-center text-zinc-400">
        This website is dedicated to my parents<small>*</small>, without whom I would not be where I am today
        <br />
        <small>*they're still alive, just to be clear</small>
    </p>
</footer>