---
import { getImageBuilder } from '@cms'
import { Icon } from 'astro-icon/components'
interface Props {
  images: {
    alt?: string
    caption?: string
    asset: {
      _ref: string
    }
  }[]
}

const { images } = Astro.props
---

<script>
  import Glide, { Controls } from '@glidejs/glide/dist/glide.modular.esm'

  document.addEventListener('astro:page-load', () => {
    const carouselElements = document.getElementsByClassName('glide')

    if (carouselElements.length !== 0) {
      new Glide('.glide').mount({ Controls })
    }
  })
</script>

<div class="glide my-16">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {
        images.map((image) => (
          <li class="glide__slide aspect-[3/2] w-full">
            <figure>
              <img
                class="object-cover bg-zinc-900 rounded"
                src={getImageBuilder(image).width(1200).height(800).url()}
                alt={image.alt}
              />

              <figcaption class="mt-2 text-zinc-400">
                {image.caption}
              </figcaption>
            </figure>
          </li>
        ))
      }
    </ul>
  </div>

  {
    images.length > 1 && (
      <div
        class="glide__arrows -mt-6 flex items-center justify-end z-20 absolute right-0 bg-zinc-950 text-white w-fit"
        data-glide-el="controls"
      >
        <button class="glide__arrow glide__arrow--left p-2" data-glide-dir="<">
          <Icon name="tabler:chevron-left" size={22} />
        </button>
        <button class="glide__arrow glide__arrow--right p-2" data-glide-dir=">">
          <Icon name="tabler:chevron-right" size={22} />
        </button>
      </div>
    )
  }
</div>
