---
import ExplicitWord from "@/components/utilities/ExplicitWord.astro";
---

<main class="py-16 px-4 md:py-32 max-w-7xl mx-auto">
    <h1 class="text-3xl md:text-4xl mb-8">👋 Welcome to my website where I can do whatever the <strong><ExplicitWord text="hell" /></strong> I want!</h1>

    <p class="text-lg text-zinc-300">So I have. Hehe.</p>
</main>