.article {
    p {
        margin: 0 0 1.6rem 0;
        line-height: 1.6em;
        color: #000;
        line-break: auto;
    }

    h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 0.5em;
        margin-top: 1.5em;

        &:first-child {
            padding-top: 0;
        }
    }
}