---
import Timeline from "../common/Timeline.astro";
import UnderseaCableMap from "./UnderseaCableMap.astro";
---

<div class="min-h-screen relative md:px-16 pb-32">
    <Timeline />

    <!-- content -->
    <header class="py-7">
        <p class="text-lg font-bold">1866</p>
    </header>

	<h1 class="text-4xl mb-8">The First<span class="block mt-2 text-7xl font-bold">Transatlantic Telegraph Cable</span></h1>

    <p class="max-w-4xl text-lg text-zinc-300 mb-16">Technically the first cable was laid in 1858, but it was very slow and failed after just a month of use. This was a big disappointment, but it didn't stop the determined engineers and investors. They learned from their mistakes and made improvements. It took several more attempts and eight more years, but finally, in 1866, a reliable cable was successfully laid. This new cable was more durable and efficient, and it marked the beginning of a new era in transatlantic communication.</p>

    <UnderseaCableMap />
</div>