---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/common/PageHeader.astro'
import Navbar from '@components/Navbar.astro'
---

<BaseLayout title="CV">
  <Navbar />

  <main class="px-2 py-8 max-w-2xl mx-auto">
    <PageHeader
      title="Curriculum Vitae"
      subtitle="My whole career for your perusing."
    />
  </main>
</BaseLayout>
