@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@keyframes dialogAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes backdropAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog {
  animation: 0.3s 1 dialogAnimation ease-in-out;
}

::backdrop {
  background: rgba(0, 0, 0, 0.8);
  animation: 0.2s 1 backdropAnimation;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.text p {
  @apply my-6;
}

.text a {
  @apply underline;
  @apply transition-colors;
}

.text a:hover {
  @apply text-purple-400;
}

.text h1 {
  @apply mt-12;
}

.text h2 {
  @apply mt-8;
}

.text h1 {
  @apply font-semibold;
  @apply text-2xl;
}

.text h2 {
  @apply font-semibold;
  @apply text-xl;
}

.text ul {
  @apply list-disc;
  @apply list-inside;
}

.text li {
  @apply my-2;
}

.text img {
  @apply my-8;
}

.text dialog img {
  @apply my-0;
}

.text code {
  @apply font-medium;
}

.text .astro-code {
  @apply p-4;
  @apply rounded-md;
}

.text hr {
  @apply my-8;
}
