---
import ExplicitWord from "@/components/utilities/ExplicitWord.astro";
import Timeline from "../common/Timeline.astro";
---
<div class="relative min-h-screen pl-4 md:pl-16 bg-blue-950 text-blue-200">
    <Timeline timelineColor="stroke-blue-500/50" markerColor="border-blue-200" />

    <header class="py-6 text-lg">
        <strong>1990s — 2000s</strong>

        <h1 class="my-4 text-5xl font-normal font-serif">Welcome to<br /><span class="text-7xl font-light block mt-4">The Internet<a class="text-blue-300 text-4xl align-top font-sans" target="_blank" href="https://www.youtube.com/watch?v=k1BneeJTDcU">*</a></span></h1>

        <p class="max-w-4xl pr-4">
            The internet in the 1990s was a time of great change. The World Wide Web was introduced, graphical web browsers made it easier to use, and online services such as email and chat became popular. E-commerce and online gaming also emerged in this decade. The internet became a valuable resource for information and communication, and businesses began to use it to sell products and services.
        </p>
    </header>

    <h1 class="mt-32 mb-8 text-4xl text-center font-serif">What the <ExplicitWord text="hell" /> even happened in the 90s?</h1>
    <p class="text-xl text-center">A lot happened actually.</p>

    <ul>
        <li>First ARPANET was created in 1969, followed by the TCP/IP protocol in 1973. These two creations were key components in the development of the internet.</li>
    </ul>
</div>