@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  @apply grid;
  @apply grid-cols-12;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  hr {
    @apply col-start-1;
    @apply col-end-13;

    @media (min-width: 768px) {
      @apply col-start-3;
      @apply col-end-11;
    }
  }

  &.full-width {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    hr {
      @apply col-start-1;
      @apply col-end-13;
    }
  }

  p {
    @apply my-4;
    @apply text-lg;
    

    &:first-child {
      @apply mt-0;
    }
  }

  hr {
    @apply my-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    font-weight: 700;
  }

  h4,
  h5,
  h6 {
    font-feature-settings: 'smcp' on;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
    @apply font-bold;
  }

  h6 {
    @apply text-base;
    @apply font-bold;
  }

  :not(.astro-code) code {
    @apply font-bold;
    @apply bg-zinc-800;
    @apply rounded;
    @apply px-1;
  }

  ul {
    @apply list-disc;
    @apply list-inside;

    @media (min-width: 768px) {
      @apply list-outside;
    }
  }

  li {
    @apply my-1;
  }

  .astro-code {
    @apply rounded;
    @apply p-4;
    @apply my-6;
    @apply col-start-1;
    @apply col-end-13;
    background: rgb(24 24 27 / var(--tw-bg-opacity)) !important;

    @media (min-width: 768px) {
      @apply col-start-2;
      @apply col-end-12;
    }
  }

  figure[chart-type] {
    @apply col-start-1;
    @apply col-end-13;
  }

  img {
    @apply col-start-1;
    @apply col-end-13;
  }
}
