---
// declare note pages
export async function getStaticPaths() {
    // find all notes
    const notes = await Astro.glob('../../../content/notes/*.md');

    // create array of possible params this route could be visited with (i.e. every category)
    return notes.map(note => ({
        params: {
            slug: note.frontmatter.slug
        },
        props: {
            note
        }
    }))
}

// import components
import Layout from "@layouts/Layout.astro";

// get note content
const { Content, frontmatter } = Astro.props.note;

// create breadcrumbs
const breadcrumbs = [
	{
		name: 'Notes',
        path: '/notes'
	},
    {
        name: frontmatter.title,
        path: `/notes/${frontmatter.slug}`
    }
]
---

<Layout breadcrumbs={breadcrumbs} title={frontmatter.title}>
    <div class="mb-4">
        <strong>A NOTE;</strong>
    </div>
    
    <h1 class="text-2xl mb-16">{frontmatter.title}</h1>

    <div class="prose dark:prose-invert text-lg">
        <Content />
    </div>
    
</Layout>
