.vital {
    background: #fff;
    border-radius: 36px;
    padding: 24px;
    width: 220px;
    height: 220px;
}


.value-container {
    display: flex;
    align-items: end;
    margin-top: 16px;
    max-width: 200px;
}

.value {
    font-size: 3.4rem;
}

.label {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.3em;
}

.unit {
    font-size: 1.4em;
    margin-bottom: 4px;
    margin-left: 4px;
}