<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Simon Sorensen</title>
    <style>
      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

        @font-face {
            font-family: "National2";
            src: url("/fonts/National2-Bold.woff2") format("woff2");
            font-weight: bold;
            font-style: normal;
        }
    </style>
  </head>

  <body class="bg-zinc-950 text-white">
    <slot />
  </body>
</html>
