---
import type { PageMeta } from '@/types';
interface Props {
  meta?: PageMeta;
}

const { meta = {
  title: 'Simon Sorensen—Software Engineering Intern',
  description: 'Simon Sorensen is a Software Engineering Intern at LEGO.',
  fonts: [
    {
      name: 'NewYork',
      url: 'NewYork-Regular.woff2',
      weight: 400
    }
  ]
} } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <style>
      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-Italic.woff2") format("woff2");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-Ultrabold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-UltraboldItalic.woff2") format("woff2");
        font-weight: 700;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-Ultralight.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "PPEditorialNew";
        src: url("/fonts/PPEditorialNew-UltralightItalic.woff2") format("woff2");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "CommitMono";
        src: url("/fonts/CommitMono-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      /* front page specific fonts */
      @font-face {
        font-family: "NewYork";
        src: url("/fonts/NewYork-Regular.woff2") format("woff2");
        font-display: swap;
      }

      html {
        scroll-padding-top: 50px;
      }
    </style>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <!--link rel="icon" href="/icon.svg" type="image/svg+xml"-->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
  </head>

  <body class="bg-zinc-950 text-white">
    <slot />

    <!--script type="text/javascript" src="https://unpkg.com/glsl-canvas-js/dist/umd/glsl-canvas.min.js"></script-->
    <script is:inline async src="https://analytics.0x1.earth/bruh" data-website-id="ab6f267a-724c-4e2f-be93-2d06611e5b9d" data-do-not-track="true" data-domains="simse.io"></script>
  </body>
</html>
