---
import { ViewTransitions } from 'astro:transitions';
import "../app.scss";

interface Props {
    title: string;
	canonical?: string;
}

const { title, canonical } = Astro.props;

const createTitle = (title: string) => {
	if (title.includes("—")) return title;

	return title ? `${title}—Simon Sorensen` : "Simon Sorensen—Software Engineer in London";
};
---

<html lang="en" transition:animate="fade">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex,nofollow" />
		<title>{createTitle(title)}</title>
		{canonical && <link rel="canonical" href={`https://sorensen.engineer${canonical}`} />}
		<style is:global>
			@font-face {
				font-family: 'Elstob';
				src: url('/fonts/Elstob.woff2');
				font-display: swap;
			}
			@font-face {
				font-family: 'ElstobItalic';
				src: url('/fonts/Elstob-Italic.woff2');
				font-display: swap;
			}
		</style>
		<ViewTransitions />
	</head>
	<body class="text-slate-950 bg-amber-50 font-serif">
		<slot />
	</body>
</html>
