<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Simon Sorensen</title>
    <style is:inline>
      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "National2";
        src: url("/fonts/National2-Bold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Feijoa";
        src: url("/fonts/Feijoa-Display.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        scroll-padding-top: 50px;
      }
    </style>
  </head>

  <body class="bg-zinc-950 text-white">
    <slot />

    <script type="text/javascript" src="https://unpkg.com/glsl-canvas-js/dist/umd/glsl-canvas.min.js"></script>
  </body>
</html>
